@font-face {
    font-family: sans;
    src: url(Resources/SaansTRIAL-Regular.otf);
  }

* {
  box-sizing: border-box;
}

body, html {
    font-family: sans;
    color: black;
    position: relative;
    overflow-x: hidden;
    max-width: 100vw;
}

.mobile {
    display: block;
}

.mac {
    display: none;
}


.menu {
    width: 100vw;
    height: 36vh;
    text-align: center;
    position: relative;
    color: black;
    background-color: white;
}

.home {
    position: absolute;
    top: 9.18vw;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4.2vw;
    text-decoration: none;
    color: black;
    opacity: 36%;
    line-height: 1;
    transition: 0.2s;
}

.home:hover {
    opacity: 100%;
}

.types {
    position: absolute;
    top: 11vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1vw;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 9vw;
    white-space: nowrap;
    letter-spacing: 0px;
}

.subtitle {
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 3.5vw;
    letter-spacing: 0.5px;
}


#scrolling {
    display: inline-block;
    white-space: nowrap;
    width: 100vw;
    overflow-x: scroll;
}
   
.copertina {
    width: 100vw;
    overflow-x: hidden;
}


.bigcover {
    width: 94vw;
    margin-right: 3vw;
    margin-left: 3vw;
}

.bigcover::after {
    content: "";
    clear: both;
    display: block;
}

.twoimages {
    width: 100%;
    position: relative;
}

.bluebutton {
    background-color: var(--color);
    width: 100%;
    height: 28vw;
    position: relative;
    color: white;
    text-align: center;
}

.three {
    width: 100%;
    max-height: 90vh;
    object-fit: cover;
}

.introtext {
    margin-top: 18vw;
    margin-bottom: 18vw;
    width: 94vw;
    margin-right: 3vw;
    margin-left: 3vw;
    font-size: 2.1vw;
}

  .left {
    font-size: 9vw;
    line-height: 1.12;
    color: var(--color);
  }
  
  .right {
    font-size: 4.2vw;
    margin-top: 6vw;
  }

.introtext::after {
    content: "";
    clear: both;
    display: block;
  }

.conclusion {
    margin-top: 18vw;
    margin-bottom: 18vw;
    width: 94vw;
    margin-right: auto;
    margin-left: auto;
    font-size: 9vw;
    letter-spacing: 0px;
}

.video {
    width: 94vw;
    padding-top: 2vw;
    padding-bottom: 1vw;
    margin-right: 3vw;
    margin-left: 3vw;
}

.boxvideo {
    position: relative;
    cursor: pointer;
}

.defined {
    width: 100%;
}

.rai {
    width: 100vw;
}

.fullscreen {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.app {
    width: 100%;
    border-top: 6vw solid black;
    background-color: black;
}

.insideimage {
    width: 100%;
    border-top: 6vw solid black;
    background-color: black;
}

.play {
    width: 28vw;
    height: 28vw;
    border-radius: 50%;
    background-color: var(--color);
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 4.2vw;
    transition: opacity 0.3s, background-color 0.1s ;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    text-align: center;
}

.insidetext {
    font-size: 4.2vw;
    width: 100%;
    text-align: left;
    position: absolute;
    left: 2%;
    top: 1.2%;
    color: white;
}


#closing {
    position: absolute;
    right: 1.2vw;
    top: 1vw;
    height: 1.2vw;
    opacity: 36%;
    display: none;
}

#closing:hover {
    opacity: 1;
}

video::-webkit-media-controls {
    display: none !important;
}

#background {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: auto;
    z-index: -100;
}



a {
    text-decoration: none;
    color: inherit;
}

.nextP {
    margin-top: 24vw;
    color: black;
    width: 100vw;
    background-color: white;
    position: relative;
    height: 32vw;
    opacity: 36%;
    transition: 0.3s;
}

.nextP:hover {
    opacity: 100%;
}

.next {
    font-size: 3.5vw;
    position: absolute;    
    transform: translateX(-50%);
    left: 50%;
    top: 1vw;

}

.T {
    top: 8.1vw;
    font-size: 7vw;
    width: 100vw;
    text-align: center;
}

.footer {
    margin-top: 0vw;
    width: 100vw;
    background-color: black;
    height: 48vh;
    position: relative;
    color: white;
    text-align: center;
}

.onetext {
    position: absolute;
    left: 50%;
    top: 12%;
    transform: translateX(-50%);
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.16;
    font-size: 9vw;
}



.threelinks {
    position: absolute;
    left: 50%;
    bottom: 12%;
    transform: translateX(-50%);
    width: 100vw; 
}

.footer .textlinks {
    font-size: 4.2vw;
}



@media only screen and (min-width: 768px) {
    .mobile {
        display: none;
    }
    
    .mac {
        display: block;
    }

    .menu {
        height: 36vh;
    }
    .home {
        top: 4.1vw;
        font-size: 1.8vw;
    }
    .title {
        top: 46%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 4.6vw;
    }
    .subtitle {
        top: 60%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 1.8vw;
    }

    #scrolling {
        display: inline-block;
        white-space: nowrap;
        width: 100vw;
        overflow-x: hidden;
    }

    .introtext {
        margin-top: 6vw;
        margin-bottom: 6vw;
    }
    
    .column {
        float: left;
      }
      
      .left {
        margin-top: -0.3vw;
        width: 50%;
        padding-right: 4%;
        font-size: 3.6vw;
        line-height: 1.12;
      }
      
      .right {
        width: 50%;
        font-size: 1.2vw;
        margin-top: 0;
      }
    
    .introtext::after {
        content: "";
        clear: both;
        display: block;
      }

      .conclusion {
        margin-top: 9vw;
        margin-bottom: 9vw;
        font-size: 3.7vw;
    }

    .bigcover {
        padding-top: 2vw;
    }

    .twoimages {
        width: 50%;
        float: left;
        padding-right: 1px;
        position: relative;
    }

    .three {
        width: 33.333%;
        float: left;
        padding-right: 1px;
        max-height: 90vh;
        object-fit: cover;
    }

    .defined {
        width: 50%;
        float: left;
        padding-right: 1px;
    }

    .app {
        border-top: 0px;
    }
    
    .insideimage {
        border-top: 0px;
    }

    .play {
        width: 16vw;
        height: 16vw;
        font-size: 2.1vw;
    }
    
    .insidetext {
        font-size: 1.1vw;
        left: 1.5%;
        top: 1.2%;
    }

    .nextP {
        margin-top: 9vw;
        padding-bottom: 1.8vw;
        height: 9vw;
    }
    
    .next {
        font-size: 1vw;
        top: 1vw;
    }
    
    .T {
        top: 3vw;
        font-size: 2.1vw;
    }

    .footer {
        margin-top: 6vw;
        height: 54vh;
    }
    .onetext {
        top: 18%s;
        font-size: 4.6vw;
    }
    
  
  }


@media only screen and (min-width: 1440px) {
    .menu {
        height: 54vh;
    }
    .home {
        top: 2.12vw;
        font-size: 1.1vw;
    }
    .title {
        top: 46%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 3.6vw;
    }
    .subtitle {
        top: 64%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 1vw;
    }

    .play {
        width: 8vw;
        height: 8vw;
        background-color: white;
        color: black;
        font-size: 1.2vw;
    }

    .footer .textlinks {
        font-size: 1vw;
    }
    
    .onetext {
        position: absolute;
        left: 50%;
        top: 18%;
        transform: translateX(-50%);
        width: 100vw;
        font-size: 3.6vw;
    }
    
    .threelinks {
        position: absolute;
        left: 50%;
        bottom: 12%;
        transform: translateX(-50%);
        width: 100vw; 
    }

  }
